{% extends "base.html.twig" %}

{% block body %}
    <section class="add-project">
        <h1>Nouveau projet</h1>
        <div class="flex-add-project">
            <ul>
                <li id="infoBtn" class="btn btn-link">
                    Informations générales
                </li>
            </ul>
        </div>  
        
        <div id="info">
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="text" name="name-project" class="form-control" id="floatingName" placeholder="Site public" value="{# A COMPLETER #}">
                    <label for="floatingName">Nom du projet</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="code-intra" class="form-control" id="floatingCode" disabled placeholder=" ">
                    <label for="floatingCode">Code interne généré automatiquement</label>
                </div>
                <label for="listCustomer" class="form-label">Liste des clients</label>
                <input class="form-control mb-3" name="customer_id" list="datalistOptionsCustomer" id="listCustomer" placeholder="Rechercher un client" value="{# A COMPLETER #}">
                <datalist id="datalistOptionsCustomer">
                    {# A COMPLETER #}
                </datalist>
                <label for="listHost" class="form-label">Liste des hébergeurs</label>
                <input class="form-control mb-3" name="host_id" list="datalistOptionsHost" id="listHost" placeholder="Rechercher un hébergeur" value="{# A COMPLETER #}">
                <datalist id="datalistOptionsHost">
                    {# A COMPLETER #}
                </datalist>
                <div class="form-check">
                    <input class="form-check-input" name="managed_server" type="checkbox" id="flexCheckServer"
                    {# A COMPLETER #}
                    <label class="form-check-label mb-3" for="flexCheckServer">Serveur infogéré</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" name="note-project" placeholder="Notes/Remarques" id="floatingNote" style="height: 100px">{# A COMPLETER #}</textarea>
                    <label for="floatingNote">Notes ou remarques</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="lastpass_folder" class="form-control" id="floatingFolder" placeholder="Client\FFD\..." value="{# A COMPLETER #}">
                    <label for="floatingFolder">Dossier lastpass</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="link_mock_ups" class="form-control" id="floatingLink" placeholder="https://" value="{# A COMPLETER #}">
                    <label for="floatingLink">Lien maquettes</label>
                </div>
                <button class="btn btn-secondary mb-3" type="reset">Annuler l'ajout du projet</button>
                <button class="btn btn-primary mb-3" name="add-project" type="submit">Ajouter le projet</button>

                {# A COMPLETER #}
            </form>
        </div>
    </section>
{% endblock %}